

:root{
    --main-font:sans-serif;
    --font-size:16px;
    --main-color:#f7df1e;
    --second-color:#222;
    --main-modal-color:rgba(247, 222, 30, 0.85);
    --second-modal-color:rgba(34 ,34 ,34 ,0.85);
    --container-width:1200px;
}

html{
    box-sizing:border-box;
    font-family: var(--main-font);
    font-size:var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin:0;
    overflow-x:hidden;
}

img{
    max-width:100%;
    height:auto;
}

 
header{
    position:sticky;
    top:0;
    padding:1rem;
    background-color: var(--main-color);
    color:var(--second-color);
    z-index:1;
}

h1{
    
    margin:0 auto;
    text-align:center;
}

.burguer-container{
    display:inline;
    position: fixed;
    background-color: var(--main-color);
    z-index:1;
    bottom:1vh;
    right:1vw;
    border-radius: 50%;    
}

.seccion{
    position: relative;
    font-size: 0.7rem;
    display:inline-block;
    text-align: center;
    height: 100vh;
    width:100%;
    top:100px;
    padding:4rem;
    
}

.box-link{
    display:flex;
    align-items: center;
    align-content:center;
    justify-content: center;
    position: relative;
    text-align:center;
    background-color: #0008;
    width:100%;
    height: 30vh; 
    
}
.box-link:hover{
  background-color: #f7df1e;
  transition: 0.3s;    
}

.box-link a{
    text-decoration: none;
    color:#FFF;
    font-size: 2rem;
    letter-spacing: 1rem;
}
.box-link a:hover{
    color:#222
}
.menu-container{
    
    display:flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: #2222;
    bottom:0.00000001px;
    z-index:1;
    transform: translate(0,-100%);
    transition: transform 0.3s ease;
}

.menu-container.is-active{

transform:translate(0,0);
}

.ball-container{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height:400px;
  background-color:#222;
  overflow: hidden;

}

.ball{
    position: absolute;
    width: 50px;
    height: 50px;
    display:inline-block;
    background-color: #f7df1e;
    border-radius: 50%;
}
.display-none{
    display:none;
}






































